   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>

   
    <!-- PAGE | WELCOME -->
    <div class="pages white paralax page-welcome" id="page-welcome">
        <div class="overlay"></div>
        <!-- Centralized content -->
        <div class="centralized">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 center">
                        <!-- Animated logo -->
                        <div class="logo">
                            <div class="scrollNormal">
                                <a href="#page-registration">
                                    <img src="/images/logo_welcome.png" width="140" height="140">
                                </a>
                            </div>
                            <div class="scrollDown">
                                <a href="#page-registration">
                                    <img src="/images/logo2_welcome.png" width="140" height="140">
                                </a>
                            </div> 
                        </div>
                        
                        <div class="line-divider" id="welcome-messages">
                            <ul class="slides">

                                <li>
                                    <h1>Дорога Минина</h1>
                                </li>
                                <li>
                                    <h1>18 мая 2014 года</h1>
                                </li>
                                <li>
                                    <h1>Нижний Новгород - Балахна</h1>
                                </li>

                            </ul>
                        </div>
                                                <p>IX Открытый велопробег "Дорога Минина". Старт 18 мая.</p>
                                                <%= render "/shared/social" %>
                        <p></p>
            <div class="social-icons sicon-white bordered">
                <a href="http://government-nnov.ru" target="_blank">
                    <img src="/images/clients/07.jpeg" alt="Treble">
                </a>
                <a href="#">
                    <img src="/images/clients/08.jpg" alt="Treble">
                </a>

            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | Welcome -->
   
    <!-- PAGE | Registration -->
    <div class="pages black-bg white page-contact" id="page-registration">
        <div class="container">
            <% if !current_user %>
            <!-- Header -->
            <header>
                <h4 class="line-divider">Регистрация на велопробег</h4>
                <h1>Добро пожаловать!</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Здесь вы можете зарегистрироваться на IX Открытый велопробег "Дорога Минина".
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            
            <!-- Start Article -->
            <article>
                <div class="row-fluid">

                    <!-- Contact form -->
                        <%= render "shared/register" %>
                    <!-- End Contact form -->
                        <%= render "shared/login" %>

                    <!-- Contact information -->
                    <div class="span5 offset1">
                        <h5>Контакты организаторов</h5>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-phone"><i>Телефон</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                8 (831) 433-10-50
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-place"><i>Адрес</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                г. Нижний Новгород, ул. Ильинская, 109
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-mail"><i>Email</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                mail@rambler.ru
                            </div>
                        </div>

                        <br/>
                        <br/>
                        <br/>
                        <h5>Социальные вкладки</h5>
                            <%= render "/shared/social" %>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->
            
            <% else %>
                        <!-- Header -->
            <header>
                <h4 class="line-divider">Вы уже зарегистрировались</h4>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            <%= link_to "Зайти в личный кабинет", current_user, :class => "btn" %>
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->
                
            <% end %>
        </div>
        
        <!-- Background map image -->
        <div id="map-image">
            <img src="/images/map_bck.jpg" alt="Treble">
        </div>
    </div>
    <!-- END PAGE | CONTACT -->




    <!-- PAGE | HISTORY  -->
    <div class="pages black-bg white page-features" id="page-history">
        <div class="overlay"></div>
        <div class="container">
             <!-- Header -->
            <header>
                <h4 class="line-divider">О велопробеге</h4>                
                <h1>История велопробега</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>18 мая 2014 года состоится IX Открытый велопробег «Дорога Минина», посвященный Дню памяти гражданина Минина. Велопробег проводится Фондом «Нижегородский Кремль» при поддержке Правительства Нижегородской области. Велопробег проводится ежегодно в воскресенье, ближайшее ко Дню памяти гражданина Минина (21 мая). Велопробег проходит по пути первого этапа движения Нижегородского ополчения 1612 года: Нижний Новгород – Балахна. Общая протяженность маршрута составляет 63 километра. К участию в велопробеге приглашаются лица достигшие 18-ти лет.</p>
                        <ul><strong>Программа велопробега включает в себя:</strong>
                            <li>встреча участников и распределение по звеньям на пл. Минина и Пожарского у памятника В.П. Чкалову;
                            <li>старт от памятника Минину и Пожарскому на площади Народного единства в Нижнем Новгороде;
                            <li>посещение танкового мемориала у завода «Красное Сормово»;
                            <li>промежуточный финиш у памятника Минину в Балахне;
                            <li>привал в лесной зоне с солдатской кашей, развлекательной программой и спортивными играми;
                            <li>финиш на въезде в Нижний Новгород.
                         </ul>
                    </div>
                </div>
            </header>
             <!-- End Header -->
             
             <!-- Article -->
            <article>
                <!-- Features blocks -->
                <div class="row-fluid">
                    <div class="span4 center">
                        <a href="/images/about01.jpg" target="_blank" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/about01.jpg" alt="Treble">
                        </a>
                        <h5>Маршрут велопробега</h5>
                    </div>
                    <div class="span4 center">
                        <iframe width="360" height="280" src="//www.youtube.com/embed/mr_t-xvZbcs" frameborder="0" allowfullscreen></iframe>
                        <h5>Видео с вертолёта</h5>
         
                    </div>
                    <div class="span4 center">
                        <iframe width="360" height="280" src="//www.youtube.com/embed/nup2MUTSZE0" frameborder="0" allowfullscreen></iframe>
                        <h5>Слайд-шоу</h5>
                 
                    </div>
                </div>
                <!-- Testemonials -->
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="quote center">
                            <div id="quote-slider" class="slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        Огромное спасибо всем!! Покорило внимание и забота друг о друге! Отдельное спасибо Илье, звеньевому 21 звена, - классно ехали, ровно и быстро почти всегда! А ещё спасибо ребятам, которые помогли на "финишной прямой" по городу - здорово мчались с вами!!!
                                        <h5>Ксения Назаровская</h5>
                                    </div>
                                    <div class="item">
                                        Огромное спасибо организаторам этого пробега! я хоть и ехал почти в конце но мне всё понравилось!) Жду подобных мероприятий!!!
                                        <h5>Роман Ерышев</h5> 
                                    </div>
                                    <div class="item">
                                        Всем огромное спасибо! пробег был офигенный, нам очень понравилось всё! Вело-дзержинск хочет уже повторения) мега-круто было!
                                        <h5>Никита Дмитриев</h5>
                                    </div>

                                </div>
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-slider" data-slide-to="1"></li>
                                    <li data-target="#quote-slider" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | FEATURES -->


    <!-- PAGE | GALLERY -->
    <div class="pages page-work" id="page-gallery">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Галерея</h4>
                <h1>Галерея</h1>
                <!-- Short desciption about Work in general -->
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Здесь представлены фото и видео с предыдущих велопробегов. Большой вклад в подготовку галереи вложили его участники, передавая фотографии и видео в штаб организаторов.
                        </p>
                    </div>
                </div>
                    
                <!-- Sub menu -->
                <!-- 
                Params: 
                    plugin-filter: Defines links for filtering.
                -->
                <nav class="submenu">
                    <ul>
                        <li>
                            <a href="#" class="plugin-filter active" data-filter="all">Все</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="typography">Регистрация</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="illustration">Старт</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="branding">Движение</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="photography">Балахна</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="photography">Привал</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- End Header -->
                
            <!-- Article -->
            <article>
                <!-- Portfolio items
                    Params: 
                        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
                        portfolio-items: Customise portfolio items for hover effect.
                -->
                <ul class="thumbnails plugin-filter-elements portfolio-items">
                    <li class="span4 mix illustration branding">
                        <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                            <!-- Portfolio image -->
                            <img src="/images/works/01.jpg" alt="Treble">
                            
                            <!-- Portfolio name, activated on hover -->
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix branding typography illustration">
                        <a href="#pages/portfolio/project_2.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/02.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography illustration">
                        <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/03.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography">
                        <a href="#" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/10.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography typography branding">
                        <a href="#pages/portfolio/project_5.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/05.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography">
                        <a href="#pages/portfolio/project_6.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/06.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix illustration branding typography">
                        <a href="#pages/portfolio/project_7.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/07.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography illustration">
                        <a href="#pages/portfolio/project_8.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/08.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix illustration branding">
                        <a href="#pages/portfolio/project_9.html" data-destination="portfolio-items" data-insert="before">
                            <img src="/images/works/09.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>На старте</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
            <!-- End Article -->
            
            <!-- Footer -->
            <footer>
                <div class="show-more-cube">
                     <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
                        <span>Показать<br/>все</span>
                    </a>
                </div>
            </footer>
            <!-- End footer -->
        </div>
    </div>
    <!-- END PAGE | WORK -->

<%= render '/shared/partners' %>