    <!-- NAVIGATION -->
<%= render '/shared/navigation' %>
    <!-- END NAVIGATION -->

    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <header>
                <h4 class="line-divider">Личный кабинет</h4>
                <h1>Здравствуйте,</h1>
                <h2><%= current_user.name %></h2>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Здесь вы можете познакомиться с последники новостями велопробега, а также узнать статус взноса.
                        </p>
                    </div>
                </div>
            </header>




            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span6">
<h5>Статистика по участникам</h5>
<table class="table table-bordered">
  <tr>
    <th>Всего участников</th>
    <th>Не оплатили</th>
    <th>В ожидании оплаты</th>
    <th>Оплатили</th>
    <th>Средств на счету</th>
  </tr>

  <tr>
    <td><%= @users %></td>
    <td><%= @userspaid0 %></td>
    <td><%= @userspaid1 %></td>
    <td><%= @userspaid2 %></td>
    <td><%= @userspaid2 * 200 %></td>
  </tr>
</table>
<br><br>

<h5>Футболки</h5>
<table class="table table-bordered">
  <tr>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>XXL</th>
  </tr>

  <tr>
    <td><%= User.where(:size => "S").count %></td>
    <td><%= User.where(:size => "M").count %></td>
    <td><%= User.where(:size => "L").count %></td>
    <td><%= User.where(:size => "XL").count %></td>
    <td><%= User.where(:size => "XXL").count %></td>
  </tr>
</table>

<br />
                    </div>

                    <!-- End Contact form -->
                    <!-- Contact information -->
                    <div class="span5 offset1">

                        <h5>Добро пожаловать</h5>
                        <p>Мы рады приветствовать Вас тут.</p>

<%= render "/shared/servicemenu" %>
                        <br/>
                        <br/>
                        <br/>
                        <h5>Социальные вкладки</h5>
                            <%= render "/shared/social" %>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->
            <br><br><br><br><br>
        </div>
        
        <!-- Background map image -->
        <div id="map-image">
            <img src="/images/map_bck.jpg" alt="Treble">
        </div>