<table border="1">
	<tr>
		<th>ID</th>
		<th>Фамилия</th>
		<th>Имя</th>
		<th>Отчество</th>
		<th>Телефон</th>
		<th>Звено</th>
		<th>Размер футболки</th>
		<th>Оплата</th>
		<th>Доставка</th>
	</tr>  <% @users_xls.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.lastname %> </td>
		<td><%= user.name %></td>
		<td><%= user.otchestvo %></td>
		<td><%= user.phone %></td>
		<td><%= user.zveno.number if user.zveno %></td>
		<td><%= user.size %></td>
		<td><%= vznosstatus(user.paid) %></td>
		<td><%= dostavka(user.dostavka) %></td>
	</tr>
  <% end %>
</table>