<%= render '/shared/navigation' %>

  <div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
      <% if current_user == @user || current_user.role == 2 %>
      <% if @user.paid == 0 && @user.dostavka == 9 %>

      <%= render "/shared/dostavka" %>

      <% elsif @user.paid == 0 && @user.dostavka != 9 %>

      <%= render "/shared/oplata" %>

      <% elsif @user.paid == 2 && @user.zveno.blank? %>

      <%= render "/shared/registed" %>

      <% elsif @user.paid == 2 && !@user.zveno.blank? %>

      <%= render "/shared/show" %>

      <% end %>
      <% else %>
      <p>У вас нет прав доступа в этот раздел сайта</p>
      <% end %>
      <!-- Background map image -->
      <div id="map-image">
        <img src="/images/map_bck.jpg" alt="Treble">
      </div>

      <br><br><br><br>
      <%= render '/shared/partners' %>