   <!-- NAVIGATION -->
   <nav class="fixed-top1" id="navigation">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- LOGO -->
          <a class="brand pull-left" href="/index.html">
            IX Открытый велопробег "Дорога Минина"
          </a>
          <!-- END LOGO -->

          <!-- MOBILE MENU BUTTON -->
          <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <!-- END MOBILE MENU BUTTON -->

          <!-- MAIN MENU -->
          <ul id="main-menu" class="nav-collapse collapse">
            <li><a href="/index.html#page-welcome">Информация</a></li>
            <li><a href="/index.html#page-registration">Регистрация</a></li>
            <li><a href="/index.html#page-history">Справка</a></li>
            <li><a href="/index.html#page-gallery">Галерея</a></li>
            <li><a href="/index.html#page-clients">Партнёры</a></li>
            <li><%= link_to('Выход', destroy_user_session_path, :method => :delete, :class => "btn", :disable_with => "Подождите...") if current_user %></li>
          </ul>
          <!-- END MAIN MENU -->

          <!-- SOCIAL ICONS -->
          <%= render "/shared/headsocial" %>
          <!-- END SOCIAL ICONS -->
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAVIGATION -->

  <div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
<% if current_user == @user || current_user.role == 2 %>
      <% if @user.paid == 0 %>

        <%= render "/shared/oplata" %>

      <% elsif @user.paid == 2 && @user.zveno.blank? %>

        <%= render "/shared/registed" %>

      <% elsif @user.paid == 2 && !@user.zveno.blank? %>

        <%= render "/shared/show" %>

      <% end %>
<% else %>
  <p>У вас нет прав доступа в этот раздел сайта</p>
<% end %>
      <!-- Background map image -->
      <div id="map-image">
        <img src="/images/map_bck.jpg" alt="Treble">
      </div>

<br><br><br><br>
    <%= render '/shared/partners' %>