      <header>
        <h4 class="line-divider">Регистрация на велопробег</h4>
        <h1>Шаг №2</h1>
        <h2>Вам необходимо внести взнос</h2>
        <div class="row">
          <div class="span8 offset2">
            <p>
              На втором шаге регистрации необходимо внести взнос в размере 750 рублей.
            </p>
          </div>
        </div>
      </header>

      <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span6">
<%= notice %>
<strong>Ваш пароль от личного кабинета:</strong> <span class="yellow"><%= @user.more %></span>
<br><br>
        <div class="bs-callout bs-callout-warning">
          <h4>Внимание!</h4>
          <p>Внесение взноса до 23:59 14.05.2017 является обязательным условием участия в велопробеге. Сумма взноса составляет (<strong class="red">750 рублей</strong>).</p>
          <p>После подтверждения факта оплаты вы сможете выбрать звено и указать размер футболки.</p>
          <p>Если вы не успели внести взнос, обратитесь по телефону 8-920-293-10-50</p>
          <strong class="red">Сбор участников велопробега состоится в 8:00 на площади Минина и Пожарского (у памятника Чкалову).</strong>
        </div>
        <br>

<!--
<strong>Регистрация на велопробег завершилась. По вопросу участия в велопробеге и оплаты вы можете проконсультироваться по телефону <span class="red">8-920-293-10-50</span></strong>
-->

        <% numzakaz = current_user.id + 11000 %>
        <% if current_user.dostavka == 9 || current_user.dostavka == 0 %>
          <% amount = 750 %>
          <%= link_to "Включить в стоимость доставку", user_dotkaz_path(:user => current_user.id) %>
        <% else %>
          <% amount = 1100 %>
          <%= link_to "Отказаться от доставки", user_dotkaz_path(:user => current_user.id) %> 
        <% end %>

        <br><br>
        <% if @user == current_user && current_user.paid == 0 %>
          <%= payment_service_for numzakaz, "dorogaminina",
          :amount => amount,
          :service => :robokassa,
          :secret => "OdergiesFNK1" do |s| %>
            <%= submit_tag "Внести взнос #{amount} руб.", :class => "btn btn-danger btn-large" %>
          <% end %>
        <% end %>


        <br>
 

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Фамилия</th>
              <th>Имя</th>
              <th>Отчество</th>
              <th>Телефон</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= @user.id %></td>
              <td><%= @user.lastname %> </td>
              <td><%= @user.name %></td>
              <td><%= @user.otchestvo %></td>
              <td><%= @user.phone %></td>
            </tr>
          </tbody>
        </table>

        <%= link_to('Выйти из личного кабинета без оплаты', destroy_user_session_path, :method => :delete, :class => "btn", :disable_with => "Подождите...") if current_user %>
</div>
              <!-- End Contact form -->
      <!-- Contact information -->
      <div class="span5 offset1">
<%= render '/posts/short_news' %>
        <h5>Добро пожаловать</h5>
        <p>Велопробег состоится 21 мая 2017 года.</p>
        <strong class="red">Сбор участников велопробега 21 мая с 8:00 до 9:00 на площади Минина и Пожарского (у памятника Чкалову).</strong><br>
        <strong>Телефон для справок: 8 (831) 430-97-28, 8-920-293-10-50</strong>

        <%= render "/shared/servicemenu" %>
        <br/>
        <br/>
        <br/>
        <h5>Социальные вкладки</h5>
        <%= render "/shared/social" %>
      </div>
      <!-- End Contact information -->
    </div>

  </article>

        </div>