                        <% if current_user.role == 2 %>
                          <br><br>
                            <h5>Служебный раздел</h5>
                            <p><%= link_to "Профайл", current_user, :class => "btn" %></p>
                            <p><%= link_to "Статистика", "/statistics.html", :class => "btn" %></p>
                            <p><%= link_to "Все участники", users_path, :class => "btn" %></p>     
                            <p><%= link_to "Звенья", zvenos_path, :class => "btn" %></p>
                            <p><%= link_to "Новости", zvenos_path, :class => "btn" %></p>
                            <hr>
                            <p><%= link_to "Выход",  destroy_user_session_path, :method => :delete, :class => "btn" %></p>
                        <% end %>