      <header>
        <h4 class="line-divider">Регистрация на велопробег</h4>
        <h1>Личный кабинет</h1>
        <h2>Вы успешно зарегистрировались на велопробег "Дорога Минина - 2019"</h2>
        <div class="row">
          <div class="span8 offset2">
            <p>
              19 мая с 7.45 до 8.45 – сбор, выдача корпоративных футболок, досмотр и проход на платформу № 6, посадка в электропоезд по звеньям (г. Нижний Новгород, Гордеевский сквер напротив дома № 13 по Московскому шоссе, с дальнейшим проходом через подземный переход к Пригородному вокзалу и платформе № 6)
            </p>
          </div>
        </div>
      </header>

      <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span6">

                        <h5>Ваши данные</h5>


<p id="notice"><%= notice %></p>


<strong>Ваш пароль от личного кабинета:</strong> <span class="yellow"><%= @user.more %></span>
<br><br>
<strong>Статус взноса:</strong> <%= vznosstatus(@user.paid) %>
<br><br>

<table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Телефон</th>
          <th>Звено</th>
        </tr>
      </thead>


     <tbody>
        <tr>
          <td><%= @user.id %></td>
          <td><%= @user.lastname %> </td>
          <td><%= @user.name %></td>
          <td><%= @user.otchestvo %></td>
          <td><%= @user.phone %></td>
          <td><%= @user.zveno.number if @user.zveno.present? %></td>
        </tr>
      </tbody>
</table>

<table class="table table-bordered">
  <thead>
        <tr>
          <th>Размер футболки</th>
        <!-- Если есть выбор футболки
          <th>Футболка</th>
        -->
          <th>Доставка</th>
        </tr>
  </thead>
  <tbody>
        <tr>
          <td><%= @user.size %></td>
        <!-- Если есть выбор футболки
          <td> image_tag(@user.tshirt.image_url) </td>
        -->
          <td><%= dostavka(@user.dostavka) %></td>
        </tr>
  </tbody>

</table>

<%= link_to('Выйти из личного кабинета', destroy_user_session_path, :method => :delete, :class => "btn", :disable_with => "Подождите...") if current_user %>

<div class="bs-callout bs-callout-warning">
    <h4>Внимание!</h4>
    <p>Вам необходимо запомнить свой номер ID (<strong class="red"><%= @user.id %></strong>). Подтверждение участия будет происходит по вашему номеру!</p>
    <p><strong class="red">19 мая с 7.45 до 8.45 – сбор, выдача корпоративных футболок, досмотр и проход на платформу № 6, посадка в электропоезд по звеньям (г. Нижний Новгород, Гордеевский сквер напротив дома № 13 по Московскому шоссе, с дальнейшим проходом через подземный переход к Пригородному вокзалу и платформе № 6)</strong></p>
</div>

</div>

      <!-- End Contact form -->
      <!-- Contact information -->
      <div class="span5 offset1">
        <%= render '/posts/short_news' %>

        <h5>Добро пожаловать</h5>
        <p>Велопробег состоится 19 мая 2019 года.</p>
        <strong class="red">19 мая с 7.45 до 8.45 – сбор, выдача корпоративных футболок, досмотр и проход на платформу № 6, посадка в электропоезд по звеньям (г. Нижний Новгород, Гордеевский сквер напротив дома № 13 по Московскому шоссе, с дальнейшим проходом через подземный переход к Пригородному вокзалу и платформе № 6)</strong><br>

        <strong>Телефон для справок: 8-920-293-10-50</strong>

        <%= render "/shared/servicemenu" %>
        <br/>
        <br/>
        <br/>
        <h5>Социальные вкладки</h5>
        <%= render "/shared/social" %>
      </div>
      <!-- End Contact information -->
    </div>

  </article>

        </div>