<%= form_for(@zveno) do |f| %>
  <% if @zveno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zveno.errors.count, "error") %> prohibited this zveno from being saved:</h2>

      <ul>
      <% @zveno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :free %><br />
    <%= f.number_field :free %>
  </div>
  <div class="field">
    <%= f.label :occupy %><br />
    <%= f.number_field :occupy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
