    <!-- NAVIGATION -->
<%= render '/shared/navigation' %>
    <!-- END NAVIGATION -->

    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <header>
                <h4 class="line-divider">Личный кабинет</h4>
                <h1>Здравствуйте,</h1>
                <h2><%= current_user.name %></h2>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Здесь вы можете познакомиться с последники новостями велопробега, а также узнать статус взноса.
                        </p>
                    </div>
                </div>
            </header>




            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span6">
                      <%= link_to 'Добавить звено', new_zveno_path %>
                      <br><br>

<table class="table table-bordered">
  <tr>
    <th>Номер</th>
    <th>Прогресс</th>
    <th>Свободно мест</th>
    <th>Занято мест</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zvenos.each do |zveno| %>
  <tr>
    <td><%= link_to zveno.number, zveno %></td>
    <td><%= progress_bar(zveno.use, :color => 'orange', :rounded => true, :tiny => true) %> </td>
    <td><%= zveno.vse - zveno.users.count %></td>
    <td><%= zveno.users.count %></td>
    <td><%= link_to zveno_status(zveno.can), :controller => :zvenos, :action => :edit_can, :zveno => zveno %></td>
    <td><%= link_to 'Изменить', edit_zveno_path(zveno) %></td>
    <td><%= link_to 'Удалить', zveno, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить звено', new_zveno_path %>

                    </div>

                    <!-- End Contact form -->
                    <!-- Contact information -->
                    <div class="span5 offset1">

                        <h5>Добро пожаловать</h5>
                        <p>Мы рады приветствовать Вас тут.</p>

<%= render "/shared/servicemenu" %>
                        <br/>
                        <br/>
                        <br/>
                        <h5>Социальные вкладки</h5>
                            <%= render "/shared/social" %>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->
            <br><br><br><br><br>
        </div>
        
        <!-- Background map image -->
        <div id="map-image">
            <img src="/images/map_bck.jpg" alt="Treble">
        </div>