    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <header>
                <h4 class="line-divider">Вы не авторизированы</h4>
                <h1>Авторизация</h1>
                <h2>Вам необходимо зайти в личный кабинет</h2>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            Узнать свой id номер и пароль вы можете из смс сообщения, которое пришло после регистрации на указанный вами номер, либо по телефону 8-920-293-10-50
                        </p>
                    </div>
                </div>
            </header>
<h2>Вход на сайт</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "Ваш ID"%><br />
  <%= f.text_field :id, :autofocus => true %></div>

  <div><%= f.label "Ваш пароль" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Войти" %></div>
<% end %>

<%= link_to "Вернуться на главную", root_path %>
</div>
</div>