<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="keywords" content="велопробег, Дорога Минина, Нижний Новгород, велотуризм, велосипед, Балахна, массовые мероприятия, Шанцев, День народного единства, 4 ноября" />
		<meta name="description" content="Юбилейный X Открытый велопробег Дорога Минина" />
	</head>
	<body>
		<%= render 'static_pages/header' %>
		<%= yield %>
		<%= render 'static_pages/footer' %>
	</body>
</html>